{% extends "base.html" %}
{% block title %}Main Screen{% endblock %}
{% block content %}
<h1 class="title">Select Metrics</h1>
<form method="POST" action="/trigger">
    <div class="field">
        <label class="checkbox">
            <input type="checkbox" id="select_all"> Select All
        </label>
    </div>
    <div class="field">
        {% for metric in metrics %}
        <label class="checkbox">
            <input type="checkbox" name="metrics" value="{{ metric[0] }}"> {{ metric[0] }}
        </label>
        <br>
        {% endfor %}
    </div>
    <button class="button is-primary" type="submit">Trigger</button>
</form>
{% endblock %}
